
    <div class="bodyMain">
        <div class="bodyMainContainer">
            <div class="bodyMainContentH1">
                <h1>Titulares</h1>
            </div>
            <div class="bodyMainContentBody">
                <img src='/Project/assets/carrusel-img.png' alt='imagen' />
                <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
                <h3 class="bodyMainContentH1">Titulo</h3>
            </div>
            <div class="bodyMainContentBody"> 
                <img src='/Project/assets/carrusel-img.png' alt='imagen' />
                <h3 class="bodyMainContentH1">Titulo</h3>
                <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
            </div>
        </div>
        <script src="node_modules/keen-slider/keen-slider.js"></script>
    </div>

