<div>
  <h1 class="bodyMainContentH1">Titulares</h1>
</div>
<div class="container">
  <ul class="slider">
    <li class="slide" id="slide1">
      <div class="test">
        <div class="slider-item">
          <div class="imageContainer">
            <img src="/Project/assets/carrusel-img.png" alt="">
            <h3 class="bodyMainContentH3">Titulo</h3>
            <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
            <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
          </div>
          <div class="imageContainer">
            <img src="/Project/assets/carrusel-img.png" alt="">
            <h3 class="bodyMainContentH3">Titulo</h3>
            <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
            <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
          </div>
        </div>
      </div>
    </li>
    <li class="slide" id="slide2">
      <div class="imageContainer">
        <img src="/Project/assets/carrusel-img.png" alt="">
        <h3 class="bodyMainContentH3">Titulo</h3>
        <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
        <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
      </div>
      <div class="imageContainer">
        <img src="/Project/assets/carrusel-img.png" alt="">
        <h3 class="bodyMainContentH3">Titulo</h3>
        <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
        <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
      </div>
    </li>
    <li class="slide" id="slide3">
      <div class="imageContainer">
        <img src="/Project/assets/carrusel-img.png" alt="">
        <h3 class="bodyMainContentH3">Titulo</h3>
        <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
        <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
      </div>
      <div class="imageContainer">
        <img src="/Project/assets/carrusel-img.png" alt="">
        <h3 class="bodyMainContentH3">Titulo</h3>
        <p class="bodyMainContentBodyText">Descripcion - Abstract (small body)</p>
        <p class="bodyMainContentBodyText2">Fecha / Autor / (STRONG EXTRA SMALL BODY)</p>
      </div>
    </li>
  </ul>
  <ul class="menu">
    <li>
      <a href="#slide1">
        <img src="/Project/assets/Component 1.png" alt="Descripción de la imagen">
      </a>
    </li>
    <li>
      <a href="#slide2">
        <img src="/Project/assets/Paginacion por puntos.png" class="image-button2" alt="Descripción del icono">
      </a>
    </li>
    <li>
      <a href="#slide3">
        <img src="/Project/assets/Component 2.png" class="image-button2" alt="Descripción del icono">
      </a>
    </li>
    
  
  