.bodyMain {
  display: inline-flex;
  flex-direction: column;
  align-items: ce;
  gap: 1.25rem;
}

.bodyMainContainer {
   
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.bodyMainBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 12.3rem;
}


.bodyMainContentH1 {
  color: #000;
  font-family: Spectral;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.275rem */
  padding-top: 1;
}
.bodyMainContentH3 {
  color: var(--typo-black, #000);
  /* Desktop/H3 */
  font-family: Spectral;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.925rem */
  letter-spacing: 0.01375rem;
  width: 37.5rem;
}

.bodyMainContentBody {
  width: 37.375rem;
  height: 18.75rem;
  justify-content: center;
  align-items: center;
}

.bodyMainContentBodyImg {
    display: flex;
    width: 37.375rem;
    height: 18.75rem;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    
}
.bodyMainContentBodyText {
    margin-top: 10px;
}

.bodyMainContentBodyText2 {
 
}
